<app-navbar></app-navbar>
<a id="button"></a>
<div class="bonjor d-block d-lg-none">
    <a href="javascript:void0;" class="text-white mm">
        <span class="b"><i class="fa-solid fa-globe"></i> Aller aux événements</span>
    </a>
    <span class="filtres"><a href="#" data-bs-toggle="modal" data-bs-target="#filtres">Filtres <i
                class="fa-regular fa-angle-down fw-900"></i></a></span>
</div>
<div class="page-content pt-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 side-3">
                <div class="d-none d-sm-none d-md-none d-lg-block">

                    <div>
                        <h6 class="side3-h6">Commentaires moyens des clients </h6>
                        <ul class="star-select" (change)="selectRating($event)">
                            <li>
                                <a>
                                    <div class="stars">
                                        <input class="star star-5" id="star-1" type="radio" name="star" value="5" />
                                        <label class="star star-5" for="star-1"></label>
                                        <input class="star star-4" id="star-2" type="radio" name="star" value="4" />
                                        <label class="star star-4" for="star-2"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-4" type="radio" name="star" value="2" />
                                        <label class="star star-2" for="star-4"></label>
                                        <input class="star star-1" id="star-5" type="radio" name="star" value="1" />
                                        <label class="star star-1" for="star-5"></label>
                                        <span> </span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div>
                        <h6 class="side3-h6">Prix</h6>
                        <ul class="mode-select">
                            <li (click)="selectprice($event,1)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_1}}" id="1" name="option18" value="20"  />
                                    <label class="form-check-label" for="check18">Jusqu'À 20 CFA </label>
                                </div>
                            </li>
                            <li (click)="selectprice($event,2)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_2}}" id="2" name="option18" value="50"   />
                                    <label class="form-check-label" for="check19">20 À 50 CFA </label>
                                </div>
                            </li>
                            <li (click)="selectprice($event,3)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_3}}" id="3" name="option18" value="100"    />
                                    <label class="form-check-label" for="check20">50 À 100 CFA</label>
                                </div>
                            </li>
                            <li (click)="selectprice($event,4)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_4}}" id="4" name="option18" value="200"    />
                                    <label class="form-check-label" for="check21">100 À 200 CFA</label>
                                </div>
                            </li>
                            <li (click)="selectprice($event,5)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_5}}" id="5" name="option18" value="300"   />
                                    <label class="form-check-label" for="check21">200 À 300 CFA</label>
                                </div>
                            </li>
                            <li (click)="selectprice($event,6)">
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input  {{classForPriceRadio_6}}" id="6" name="option18"  
                                        value="1000000000000" />
                                    <label class="form-check-label" for="check22">500 CFA et plus</label>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div>
                        <h6 class="side3-h6">Condition</h6>
                        <ul class="mode-select" (click)="selectcondition($event)">
                            <li>
                                <div class="form-check form-chk ">
                                    <input type="radio" class="form-check-input" id="check18" name="option19"
                                        value="new" />
                                    <label class="form-check-label" for="check18">Neuf </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check form-chk">
                                    <input type="radio" class="form-check-input" id="check19" name="option19"
                                        value="old" />
                                    <label class="form-check-label" for="check19">Ocasion </label>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-10">



                <div class="d-none d-sm-none d-md-none d-lg-block m-b-30">
                    <div class="row ">
                        <h2 class="mb-0">Catégories</h2>

                        <ul class="breadcrumb">
                            <li><a class="li_a" routerLink="/">Accueil</a></li>

                            <li *ngFor="let val of all_Category">
                                <a class="li_a" href="javascript:void(0)"
                                    (click)="removeCategory(val.id)">{{val.title}}</a>
                            </li>
                            <!-- <li><a class="li_a" href="#">Summer 15</a></li> -->
                            <!-- <li>Italy</li> -->
                        </ul>



                        <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center" style="height:250px"
                            *ngFor="let cat of parentCat; let i=index">
                            <div class="container-img">
                                <a href="javascript:void(0)" (click)="clickCategory(cat._id)" class="featur-img">
                                    <div>
                                        <ng-container *ngIf="cat.image; else elseCatImg">

                                            <img class="p-img image" src="{{baseurl}}static/public/{{cat.image}}"
                                                width="">
                                        </ng-container>
                                        <ng-template #elseCatImg>
                                            <img class="p-img image" src="{{baseurl}}static/public/media/no-image.jpeg"
                                                width="">

                                        </ng-template>
                                    </div>
                                    <div class="product-nam p-0">
                                        <h6 class="product-n-h p-0">
                                            <a class="upper_case_class">{{cat.title}}</a>
                                        </h6>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                 
                <section class="section-products d-sm-block d-md-block d-lg-block" *ngIf="items">

                    <div class="container p-0">
                        
                        
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 btn-aling " style="padding-bottom: 20px;">
                            <select class="form-control"  (change)="sortData(selectedIndex,$event)"> 
                               <option value="1">Trier par prix croissant</option>
                               <option value="-1">Trier par prix décroissant</option> 
                            </select>
                         </div>


                        <div class=" plr-15 mob-m-0 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
                                <p class="p-head"> <span style="color:#F8991B">{{items.length}}</span> 
                                    résultats trouvés dans cette catégorie.

                                </p>
                            </div>
                        </div>


<div class="flex-container1">

    <div class="flex-itm" *ngFor="let pro of items; let i=index; ">
        <div class="single-product">
            <div class="product-wrapper text-center">
                <div class="product-img">

                    
                    <ng-container *ngIf="pro.vendor_type">
                        <ng-container *ngIf="pro.vendor_type.length > 0">
                            <span *ngIf="pro.vendor_type[0]== 'professional' " class="badge_bg_warning">Professionnel</span>
                        </ng-container>
                    </ng-container>
                    
                    <div class="text-center pro-f-img">
                        <a routerLink="/view-product/{{pro._id}}">
                            <ng-container *ngIf="pro.images.length > 0;else elseImg">
                                <img class="mw-100 mob-size"
                                    src="{{baseurl}}static/public/{{pro.images[0]}}" />
                            </ng-container>
                            <ng-template #elseImg>
                                <img class="mw-100 mob-size"
                                    src="./assets/build/img/nopro2.png" />
                            </ng-template>
                        </a>
                        <div class="product-action">
                            <div class="product-action-style">
                                <a href="#" data-toggle="modal" data-target="#myModal" (click)="openQW(pro._id)">
                                    Aperçu rapide
                                </a>
                            </div>
                        </div>


                        <div class="part-2">
                            <div class="product-detail1">
                                <p class="mb-0"><a class="ankr-nam pro-title">{{pro.title}}</a>
                                </p>
                                <div class="ra-ting-spn"
                                    style="cursor: not-allowed !important;">
                                    <ngb-rating [max]=5 [(rate)]="pro.avgRating"></ngb-rating>
                                    <span>
                                        ({{ pro.totalRating }})
                                    </span>
                                </div>
                                <div class="offer-pn">
                                    <h3 class="mb-0 f-s-20">
                                        <a class="position-r">
                                            <span>{{pro.price}}</span> CFA
                                            <a *ngIf="pro.isFav == 0" class="float-right"
                                                (click)="addFavItem(pro._id,i)">
                                                <i class="fa-regular fa-heart fa-i"
                                                    style="color: #F8991B;"></i>
                                            </a>
                                            <a *ngIf="pro.isFav == 1" class="float-right"
                                                (click)="removeFavItem(pro.favProduct[0]._id,i)">
                                                <i class="fa-solid fa-heart fa-i"
                                                    style="color: #F8991B;"></i>
                                            </a>
                                            <!-- <span class="s-price"> </span> -->
                                        </a>
                                    </h3>

                                </div>
                            </div>
                        </div>

                        <div class="alert_success" id="fav_id_{{i}}"  *ngIf="showBtn===i">
                            <strong> {{msGG}} </strong> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

        


    </div>
    
</div>

                        <div *ngIf="items.length != 0 ||  items.length != null || items.length != undefined ">
                            <ul class="pagination">
                                <li   *ngFor="let item of numbers; let i = index"  
                                [class.active]="selectedIndex === i"
                                  (click)="getProducts(item)">
                                  <a class="" href="javascript:void(0)">{{item+1}}</a>
                                </li> 
                            </ul>
                        </div>


                        <div class="page-content screen-pt-50 screen-mb-50"
                            *ngIf="items.length == 0 ||  items.length == null || items.length == undefined ">
                            <ng-container *ngIf="apiResponseCheck == 0">
                                <div class="container">
                                    <div class="screen-mtb-50">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-12 m-a mob-canter">
                                                <div class="row">

                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-12 a-s-c text-center">
                                                        <img class="mw-100" src="./assets/build/img/no-product-found.png"
                                                            width="180" />
                                                        <h2 class="f-w-600 mt-3">Désolé, aucun produit trouvé</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>


                    </div>
                </section>

                <!-- <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="pagination">
                        <a >&laquo;</a>
                        <a >1</a>
                        <a  class="active">2</a>
                        <a >3</a>
                        <a >4</a>
                        <a >5</a>
                        <a >&raquo;</a>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </div>
</div>
<!--quick view-->
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="singleQWProduct">
            <!-- Modal Header -->
            <div class="modal-header modl-hedr">
                <button type="button" class="close hedr-clos" data-dismiss="modal"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div id="demo" class="carousel slide" data-bs-ride="carousel">
                            <!-- Indicators/dots -->
                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <ng-container *ngIf="singleQWProduct.images.length > 0;else elseImg1">
                                        <img class="mw-100" src="{{baseurl}}static/public/{{singleQWProduct.images[0]}}" alt="Los Angeles"
                                        class="d-block" style="width:500" />
                                    </ng-container>
                                    <ng-template #elseImg1>
                                        <img class="mw-100 "
                                            src="./assets/build/img/nopro2.png" class="d-block" />
                                    </ng-template>
                                    
                                </div>
                                <div class="carousel-item" *ngFor="let img of singleQWProduct.images">
                                    <!-- <img class="mw-100" src="./assets/build/img/category/p5.jpg" alt="Chicago"
                                        class="d-block" style="width:500" /> -->

                                        <ng-container *ngIf="img.length > 0;else elseImg">
                                            <img class="mw-100"
                                                src="{{baseurl}}static/public/{{img}}"  class="d-block"  style="width:500"/>
                                        </ng-container>
                                        <ng-template #elseImg>
                                            <img class="mw-100 "
                                                src="./assets/build/img/nopro2.png" class="d-block" />
                                        </ng-template>
                                </div>
                                <!-- <div class="carousel-item">
                                    <img class="mw-100" src="./assets/build/img/category/p5.jpg" alt="New York"
                                        class="d-block" style="width:500" />
                                </div> -->
                            </div>
                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- <h3 class="mb-1">{{test}}</h3> -->
                        <h3 class="lhn">{{singleQWProduct.title}}</h3>
                        <div class="stars">
                            <form class="star-r" action="">
                                <input class="star star-5" id="star-21" type="radio" name="star">
                                <label class="star star-5" for="star-21"></label>
                                <input class="star star-4" id="star-22" type="radio" name="star">
                                <label class="star star-4" for="star-22"></label>
                                <input class="star star-3" id="star-23" type="radio" name="star">
                                <label class="star star-3" for="star-23"></label>
                                <input class="star star-2" id="star-24" type="radio" name="star">
                                <label class="star star-2" for="star-24"></label>
                                <input class="star star-1" id="star-25" type="radio" name="star">
                                <label class="star star-1" for="star-25"></label>
                            </form>
                            <!-- <ngb-rating [max]=5 [(rate)]="singleQWProduct.avgRating"></ngb-rating> -->
                            
                        </div>
                        <div>
                            <span><strong>{{singleQWProduct.price}} CFA</strong></span>
                        </div>

                      <a routerLink="/view-product/{{singleQWProduct._id}}" target="_blank">  <button class="btn btn-theme-fill" >Voir le détail de l'article</button></a>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer p-30 bt-0">
                <div class="carousel-indicators p-20">
                    <div *ngFor="let img of singleQWProduct.images; let i=index">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to=i class="active">
                            <!-- <img class="mw-100" src="./assets/build/img/category/p5.jpg" alt="Los Angeles" class="d-block"
                                style="width:100%" /> -->
                                <ng-container *ngIf="img.length > 0;else elseImg">
                                    <img class="mw-100"
                                        src="{{baseurl}}static/public/{{img}}"  class="d-block"  style="width:100%"/>
                                </ng-container>
                                <ng-template #elseImg>
                                    <img class="mw-100 "
                                        src="./assets/build/img/nopro2.png" class="d-block" />
                                </ng-template>
                        </button>
                    </div>
                    
                    <!-- <button type="button" data-bs-target="#demo" data-bs-slide-to="1">
                        <img class="mw-100" src="./assets/build/img/category/p5.jpg" alt="Chicago" class="d-block"
                            style="width:100%" /></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2">
                        <img class="mw-100" src="./assets/build/img/category/p5.jpg" alt="New York" class="d-block"
                            style="width:100%" /></button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="filtres">
    <div class="modal-dialog modl-filtres">
        <div class="modal-content"  >
            <!-- Modal Header -->
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body filtres-h">
                <div _ngcontent-bcb-c248="" class="">
                    <div _ngcontent-bcb-c248="">
                        <h6 _ngcontent-bcb-c248="" class="side3-h6">Commentaires moyens des clients </h6>
                        <ul _ngcontent-bcb-c248="" class="star-select">
                            <li _ngcontent-bcb-c248="">
                                <a _ngcontent-bcb-c248="">
                                    <div _ngcontent-bcb-c248="" class="stars">
                                        <input _ngcontent-bcb-c248="" id="star-1" type="radio" name="star" value="5"
                                            class="star star-5">
                                        <label _ngcontent-bcb-c248="" for="star-1" class="star star-5"></label>
                                        <input _ngcontent-bcb-c248="" id="star-2" type="radio" name="star" value="4"
                                            class="star star-4">
                                        <label _ngcontent-bcb-c248="" for="star-2" class="star star-4"></label>
                                        <input _ngcontent-bcb-c248="" id="star-3" type="radio" name="star" value="3"
                                            class="star star-3">
                                        <label _ngcontent-bcb-c248="" for="star-3" class="star star-3"></label>
                                        <input _ngcontent-bcb-c248="" id="star-4" type="radio" name="star" value="2"
                                            class="star star-2">
                                        <label _ngcontent-bcb-c248="" for="star-4" class="star star-2"></label>
                                        <input _ngcontent-bcb-c248="" id="star-5" type="radio" name="star" value="1"
                                            class="star star-1">
                                        <label _ngcontent-bcb-c248="" for="star-5" class="star star-1"></label>
                                        <span _ngcontent-bcb-c248="" class="p-0">et plus</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div _ngcontent-bcb-c248="">
                        <h6 _ngcontent-bcb-c248="" class="side3-h6">Prix</h6>
                        <ul _ngcontent-bcb-c248="" class="mode-select">
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="0" name="option18" value="20" class="form-check-input"><label
                                        _ngcontent-bcb-c248="" for="check18" class="form-check-label">Jusqu'À 20 CFA
                                    </label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="20" name="option18" value="50" class="form-check-input"><label
                                        _ngcontent-bcb-c248="" for="check19" class="form-check-label">20 À 50 CFA
                                    </label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="50" name="option18" value="100" class="form-check-input"><label
                                        _ngcontent-bcb-c248="" for="check20" class="form-check-label">50 À 100
                                        CFA</label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="100" name="option18" value="200"
                                        class="form-check-input"><label _ngcontent-bcb-c248="" for="check21"
                                        class="form-check-label">100 À 200 CFA</label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="200" name="option18" value="300"
                                        class="form-check-input"><label _ngcontent-bcb-c248="" for="check21"
                                        class="form-check-label">200 À 300 CFA</label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="500" name="option18" value="1000000000000"
                                        class="form-check-input"><label _ngcontent-bcb-c248="" for="check22"
                                        class="form-check-label">500 CFA et plus</label></div>
                            </li>
                        </ul>
                    </div>
                    <div _ngcontent-bcb-c248="">
                        <h6 _ngcontent-bcb-c248="" class="side3-h6">Condition</h6>
                        <ul _ngcontent-bcb-c248="" class="mode-select">
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="check18" name="option19" value="new"
                                        class="form-check-input"><label _ngcontent-bcb-c248="" for="check18"
                                        class="form-check-label">Neuf </label></div>
                            </li>
                            <li _ngcontent-bcb-c248="">
                                <div _ngcontent-bcb-c248="" class="form-check form-chk"><input _ngcontent-bcb-c248=""
                                        type="radio" id="check19" name="option19" value="old"
                                        class="form-check-input"><label _ngcontent-bcb-c248="" for="check19"
                                        class="form-check-label">Ocasion </label></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>