.mb-2 {
    margin-bottom: 10px !important;
}

.social-fotr {
    margin-top: -10px;
}

a {
    color: #fff !important;
}

.sticky-b {
    position: sticky;
    top: 100%;
}

@media(max-width:576px) {
    .ft,
    .fb {
        text-align: center !important;
    }
    .fottr-ul-2 {
        text-align: center !important;
    }
    .fottr-ul-2 li {
        padding: 7px !important;
    }
    .fottr-ul-2 li a {
        font-size: 9px !important;
    }
}