.f-w-600 {
    font-weight: 500;
    font-size: 18px;
}

.adr-ev {
    -webkit-line-clamp: 1;
    width: 90%;
    max-height: 129.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.theme-btn {
    background: #F8991B;
    color: #fff;
    border-color: #F8991B;
    border-radius: 7px;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 16px;
}

.m-div {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 130px !important;
}

@media(max-width:1092px) {
    .mob-pt-25 {
        padding-top: 25px !important;
    }
}

.lbl-srch {
    font-size: 28px !important;
    font-weight: 700;
}

.big-h {
    font-weight: 700 !important;
    color: #f8991b;
    font-size: 36px !important;
    line-height: 62px !important;
}

.small-h {
    font-weight: 700 !important;
    font-size: 28px !important;
}

.fa-solid .fa-heart .fa-i {
    color: #fff !important;
    position: relative !important;
    bottom: -8px !important;
    font-size: 14px !important;
}

.heart-play {
    color: #fff !important;
}

.buttons {
    padding: 20px 0 40px;
}

.button {
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    outline: none;
    opacity: 0.4;
    border: none;
}

.button:hover,
.button.active {
    opacity: 1;
}

.grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto 80px;
    max-width: 90%;
    grid-gap: 20px;
    display: grid;
    width: 600px;
}

.item {
    border-radius: 4px;
}

.item.blue {
    background: #06f;
}

.item.white {
    background: #fff;
}

.item.grey {
    background: #8e9aa7;
}

.item.yellow {
    background: #fdc67e;
}

.item.red {
    background: #eb7676;
}

.hide {
    display: none;
}

.sub-cap {
    border: none;
    width: 100%;
}

.sub-cap:hover {
    background-color: #ec8804;
}

.badge {
    border: 1px solid;
}

a {
    cursor: pointer;
}

.left-blnk {
    width: 100% !important;
    border-radius: 4px !important;
}

.catImg {
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #fff !important;
}

label.hrt-lbl {
    font-size: 30px !important;
}

label.hrt-lbl input[type="checkbox"] {
    display: none !important;
}

.custom-checkbox {
    /*margin-left: 2em;*/
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
}

.custom-checkbox .fa-i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.custom-checkbox .fa-regular {
    color: #fff;
}

.custom-checkbox .fa-solid {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .fa-solid {
    opacity: 1;
}

.custom-checkbox input[type="checkbox"]:checked~.fa-solid {
    opacity: 1;
}

.event-name {
    font-size: 18px;
    -webkit-line-clamp: 1;
    width: 90%;
    max-height: 129.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.m-div p {
    margin-bottom: 2px !important;
}

.eve-mg {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
}

@media (max-width:767px) {
    .eve-m {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}

.m-div {
    border-radius: 0 0 7px 7px;
    box-shadow: none !important;
}

.eve-mg {
    border-radius: 8px 8px 0 0;
}

.my-event {
    box-shadow: 0 16px 64px -16px rgba(46, 55, 77, .1);
}

.asc {
    align-self: center;
}

.hsec-p {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.h-sec {
    background: #f6f7fd;
    width: 85%;
    display: flex;
    height: 300px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.h-sec h2,
.h-sec h5 {
    margin-left: -50px;
}

.hsec-rright {
    height: 400px;
    object-fit: cover;
}