.mw-1000{
    width: 200px !important;
    height: 120px !important;
    object-fit: contain;
    border-radius: 0;
}
h3{
    font-weight: 700;
}
.form-select option{
    font-weight: 600;
}
.form-select {
    font-weight: 600;
}