<div class="main">
  <div class="left">
    <ul>
      <li class="menu-heading">Admin</li>
      <li><a data-toggle="tab" href="#overview"><i class="fa fa-home fa-lg"></i> Overview</a></li>
      <li><a data-toggle="tab" href="#performance"><i class="fa fa-tachometer fa-lg"></i> Performance</a></li>
      <li><a data-toggle="tab" href="#analytics"><i class="fa fa-line-chart fa-lg"></i> Analytics</a></li>
      <li><a data-toggle="tab" href="#landing"><i class="fa fa-rocket fa-lg"></i> Landing</a></li>
      <li><a data-toggle="tab" href="#projects"><i class="fa fa-table fa-lg"></i> Projects</a></li>
      <li class="menu-heading">Pages</li>
      <li class="active"><a data-toggle="tab" href="#user-profile"><i class="fa fa-street-view fa-lg"></i> User Profile</a></li>
      <li><a data-toggle="tab" href="#candidates"><i class="fa fa-users fa-lg"></i> Candidates</a></li>
      <li><a data-toggle="tab" href="#invoices"><i class="fa fa-files-o fa-lg"></i> Invoices</a></li>
      <li><a data-toggle="tab" href="#single-invoice"><i class="fa fa-file-text-o fa-lg"></i> Single Invoice</a></li>
      <li><a data-toggle="tab" href="#browse"><i class="fa fa-search fa-lg"></i> Browse</a></li>
    </ul>
  </div>
  <div class="right"> 
	<!-- <app-admindashboard></app-admindashboard> -->
  </div>
</div>