<app-navbar></app-navbar>
<div class="container">
    <div class="row pt-3 mob-p-0">
        <div class="col-lg-12 m-a">
            <div class="order-d mt-3 order-dw">
                <div class="row" *ngFor="let item of singleOrder">

                    <div class=" col-lg-7 col-sm-6 col-md-7 col-12 ">
                        <h3><strong>PRODUIT</strong></h3>
                        <div class="row">
                            <div *ngIf="item.products[0].product.images.length != 0;else other_content">
                                <img class="mw-100" src="{{baseurl}}static/public/{{item.products[0].product.images[0]}}">
                            </div>
                            <ng-template #other_content>
                                <img class="mw-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png">
                            </ng-template>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-9 ">
                                <a class="ankr-big"><strong>{{item.products[0].product.title}}</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-sm-4 col-md-2 col-12 pb-5">
                        <h3><strong>COMMANDE PASSÉE</strong></h3>
                        <p class="mb-0">{{item.date_of_transaction | date:'MMM d, y'}}</p>
                        <p class="mb-0">Numero De Commande</p>
                        <a class="">{{item.order_id}}</a>
                    </div>
                    <hr>
                    <form class="" [formGroup]="reviewform" (submit)="send()">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-3 p-0">

                            <h5>Évaluer le vendeur</h5>
                            <fieldset class="rating" (change)="setRating($event)">
                                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                            </fieldset>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
                            <label for="comment">Commentaires:</label>
                            <textarea class="form-control" rows="10" cols="10" id="comment" name="text" style="height: -webkit-fill-available !important;" formControlName="review" #box2 (keyup)="0" maxlength="500"></textarea>
                            <p><span></span><span class="float-right mini-c">Caracteres restants:  {{box2.value.length}} /500</span></p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
                            <button class="btn btn-signs"> Envoyer</button>
                        </div>

                    </form>
                </div>
                <div class="comeBack_up" *ngIf="createratingRes">
                    <div *ngIf="createratingRes.status == false; else loggedOut">
                        <br>
                        <div class="alert alert-danger"><strong>{{ createratingRes.message }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                        <br>
                        <div class="alert alert-success"><strong>{{ createratingRes.message }}</strong></div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>