<app-navbar></app-navbar>
<div class="container">
    <div class="row pt-3 mob-p-0">
       <div class="col-lg-12 m-a">
          <ul class="page-url">
             <li><a >Votre compte</a></li>
             <li><a class="active" >Connexion et sécurité</a></li>
          </ul>
          <div class="row">
             <div class=" col-lg-12 col-sm-12 col-md-12 col-12">
                <div class="">
                   <div class="row">
                      <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                         <h2>Connexion et sécurité</h2>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                         <ul class="securite-ul">
                            <li>
                               <p>
                                  <strong>Nom</strong>
                                  <br>{{firstname}} {{lastname}}
                                  <a (click)="openName()">Modifier</a>
                               </p>
                            </li>
                            <li>
                               <p>
                                  <strong>E-mail</strong>
                                  <br>{{email}}
                                  <!-- <a href="change-email.html" >Modifier</a> -->
                               </p>
                            </li>
                            <li>
                               <p>
                                  <strong>Numéro de téléphone portable principal</strong>
                                  <br>{{countryCode}} {{phone}}
                                  <a (click)="openPhone()">Modifier</a>
                               </p>
                            </li>
                            <li>
                               <p>
                                  <strong>Mot de passe</strong>
                                  <br>******
                                  <a (click)="openPassword()">Modifier</a>
                               </p>
                            </li>
                         </ul>
                        
                      </div>
                   </div>
                   <!-- Nav pills -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<app-footer></app-footer>
