<mat-form-field>
   <input matInput [matDatepicker]="dp" placeholder="Different locale">
   <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
   <mat-datepicker #dp></mat-datepicker>
</mat-form-field>