<!-- <div *ngFor="let pro of allSearchProducts.data | filter:filterQuery">
    {{pro.title}}
</div> -->
<app-navbar></app-navbar>
<a id="button"></a>
<!--start second header megamenu-->

<!--end second header megamenu-->
<div class="page-content pt-15">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-2 side-3">
            <div class="d-none d-sm-none d-md-none d-lg-block">
               
               <div>
                  <h6 class="side3-h6">Commentaires moyens des clients </h6>
                  <ul class="star-select" (change)="selectRating($event)">
                     <li>
                        <a >
                           <div class="stars">
                              <form action="">
                                 <input class="star star-5" id="star-1" type="radio" name="star" value="5" />
                                 <label class="star star-5" for="star-1"></label>
                                 <input class="star star-4" id="star-2" type="radio" name="star" value="4" />
                                 <label class="star star-4" for="star-2"></label>
                                 <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                                 <label class="star star-3" for="star-3"></label>
                                 <input class="star star-2" id="star-4" type="radio" name="star" value="2"/>
                                 <label class="star star-2" for="star-4"></label>
                                 <input class="star star-1" id="star-5" type="radio" name="star" value="1"/>
                                 <label class="star star-1" for="star-5"></label>
                              </form>
                              <span>et plus</span>
                           </div>
                        </a>
                     </li>
                     
                  </ul>
               </div>
               
               <div>
                  <h6 class="side3-h6">Prix</h6>
                  <ul class="mode-select" (change)="selectprice($event)">
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="0" name="option18"
                              value="20" />
                           <label class="form-check-label" for="check18">Jusqu'À 20 EUR </label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="20" name="option18"
                              value="50" />
                           <label class="form-check-label" for="check19">20 À 50 EUR </label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="50" name="option18"
                              value="100" />
                           <label class="form-check-label" for="check20">50 À 100 EUR</label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="100" name="option18"
                              value="200" />
                           <label class="form-check-label" for="check21">100 À 200 EUR</label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="200" name="option18"
                              value="300" />
                           <label class="form-check-label" for="check21">200 À 300 EUR</label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="500" name="option18"
                              value="1000000" />
                           <label class="form-check-label" for="check22">500 EUR et plus</label>
                        </div>
                     </li>
                  </ul>
               </div>


               <div>
                  <h6 class="side3-h6">Condition</h6>
                  <ul class="mode-select" (change)="selectcondition($event)">
                     <li>
                        <div class="form-check form-chk ">
                           <input type="radio" class="form-check-input" id="check18" name="option19"
                              value="new" />
                           <label class="form-check-label" for="check18">Neuf </label>
                        </div>
                     </li>
                     <li>
                        <div class="form-check form-chk">
                           <input type="radio" class="form-check-input" id="check19" name="option19"
                              value="old" />
                           <label class="form-check-label" for="check19">Ocasion </label>
                        </div>
                     </li>
                    
                  </ul>
               </div>
              
            </div>
         </div>
         <div class="col-lg-10">
            
            
            <div class="">
               <section class="section-products ">
                  <div class="container p-0">
                     <div class="row plr-15 mob-m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                           <p class="p-head">Résultats de la recherche pour <span>{{filterQuery }}</span></p>
                           
                        </div>
                     </div>
                     <!-- <ng-template #noResults>
                        
                        <div class="row plr-15 mob-m-0 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <p>No results found for "{{filterQuery}}".</p>
                               
                            </div>
                         </div>
                     </ng-template> -->
                     <!-- <div class="row"  *ngIf="(allSearchProducts.data | filter: filterQuery).length > 0; else noResults"> -->
                        <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
                           *ngFor="let item of allSearchProducts.data.products | filter:filterQuery">
                           <a routerLink="/view-product/{{item._id}}" target="_blank">
                           <div id="" class="single-product"  >
                              <div class="text-center">
                                 <a >
                                     <img class="mw-100 mob-size" src="{{baseurl}}static/public/{{item.images[0]}}" alt="pic"/></a>
                              </div>
                              <div class="part-2">
                                 <div class="product-detail1">
                                   
                                    <ul class="radio-ul pl-0" >
                                       <li *ngFor="let b of item.images">
                                          <label class="container-radio">
                                             <input type="radio" name="radio">
                                             <span class="checkmark"> <img src="{{baseurl}}static/public/{{b}}">
                                             </span>
                                          </label>
                                       </li>
                                         <span class="position-r"><a class="plus-num" href="#">{{item.images.length}}+</a></span>
                                    </ul>
                                    <p class="mb-0"><a class="ankr-nam" href="#"><strong>{{item.title}}</strong></a></p>
                                    <img src="./assets/build/img/unnamed.png" class="mw-44"> 
                                    <div> 
                                       <h2>{{item.price | number:'1.2-2'}} CFA<p>(32% off)</p></h2>
                                       </div>
                                   
                                    <div class="offer-pn">
                                       <p class="liva">Get it by Saturday, 25 March</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </a>
                        </div> -->


                        <div>
                           <div class="row" >
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                 <ul class="grid-v">
                                    <li *ngFor="let item of allSearchProducts | filter:filterQuery">
                                       <div class="row" routerLink="/view-product/{{item._id}}">
                                          <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                                             <div class="text-center">
                                              <a  > <img class="mw-100 mob-size img-full" src="{{baseurl}}static/public/{{item.images[0]}}" height="250"></a>
                                           </div>
                                          </div>
                                          <div class="col-lg-9 col-md-8 col-sm-8 col-8">
                                             <div class="part-2">
                                              <div class="product-detail1">
                                                 
                                                 <h2 class="mb-0"><a class="">{{item.title}}</a></h2>
                                                 <img src="./assets/build/img/unnamed.png" class="mw-44" width="100"> (30)
                                                 <div class="offer-pn">
                                                    <h3 class="mb-0 f-s-20"><a href="#" class="position-r"><span>{{item.price}}</span>CFA<span class="s-price"></span></a></h3>
                                                    <p class="liva">Livraison À {{item.price | number:'1.2-2'}} CFA</p>
                                                 </div>
                                              </div>
                                           </div>
                                          </div>
                                       </div>
                                    </li>
                       
                                   
                                 </ul>
                              </div>
                           </div>
                        </div>


                     </div>
                  <!-- </div> -->
                  <!-- <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls> -->
               </section>

               
            </div>

         </div>
      </div>
   </div>
</div>
<!--quick view-->
<!-- The Modal -->
<div class="modal" id="myModal">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header modl-hedr">
            <button type="button" class="close hedr-clos" data-dismiss="modal"><i
                  class="fa-solid fa-xmark"></i></button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <div class="row">
               <div class="col-lg-7">
                  <div id="demo" class="carousel slide" data-bs-ride="carousel">
                     <!-- Indicators/dots -->
                     <!-- The slideshow/carousel -->
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img src="./assets/build/img/category/p5.jpg" alt="Los Angeles" class="d-block"
                              style="width:500" />
                        </div>
                        <div class="carousel-item">
                           <img src="./assets/build/img/category/p5.jpg" alt="Chicago" class="d-block"
                              style="width:500" />
                        </div>
                        <div class="carousel-item">
                           <img src="./assets/build/img/category/p5.jpg" alt="New York" class="d-block"
                              style="width:500" />
                        </div>
                     </div>
                     <!-- Left and right controls/icons -->
                     <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                     </button>
                     <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                     </button>
                  </div>
               </div>
               <div class="col-lg-5">
                  <h6>Havaianas</h6>
                  <h5>Havaianas Brasil Logo, Tongs Mixte, Purple Paisley, 43 EU</h5>
                  <div class="stars">
                     <form class="star-r" action="">
                        <input class="star star-5" id="star-21" type="radio" name="star">
                        <label class="star star-5" for="star-21"></label>
                        <input class="star star-4" id="star-22" type="radio" name="star">
                        <label class="star star-4" for="star-22"></label>
                        <input class="star star-3" id="star-23" type="radio" name="star">
                        <label class="star star-3" for="star-23"></label>
                        <input class="star star-2" id="star-24" type="radio" name="star">
                        <label class="star star-2" for="star-24"></label>
                        <input class="star star-1" id="star-25" type="radio" name="star">
                        <label class="star star-1" for="star-25"></label>
                     </form>
                     <span>41 819</span>
                  </div>

                  <button class="btn btn-theme-fill">Voir le détail de l'article</button>
               </div>
            </div>
         </div>
         <!-- Modal footer -->
         <div class="modal-footer p-30 bt-0">
            <div class="carousel-indicators p-20">
               <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active">
                  <img src="./assets/build/img/category/p5.jpg" alt="Los Angeles" class="d-block" style="width:100%" />
               </button>
               <button type="button" data-bs-target="#demo" data-bs-slide-to="1"> <img
                     src="./assets/build/img/category/p5.jpg" alt="Chicago" class="d-block"
                     style="width:100%" /></button>
               <button type="button" data-bs-target="#demo" data-bs-slide-to="2"><img
                     src="./assets/build/img/category/p5.jpg" alt="New York" class="d-block"
                     style="width:100%" /></button>
            </div>
         </div>
      </div>
   </div>
</div>


<app-footer></app-footer>