<div class="container mw-96 pt-0 pb-3">
    <div class="row " *ngFor="let category of homepro; let i = index">

        <div class="container mt-20" *ngIf="i == 2">
            <br>

            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-12 m-a">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mob-mb-15 s-pl-93 p-0" *ngFor="let small of middlebanner">
                            <img class="small-banr" src="{{baseurl}}static/public/{{small.image}}">
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <h3 class="slider-h pt-4 plr-0 mb-2" style="font-size: 21px !important;text-transform: capitalize;">{{category.title}} <a class="ankr-big float-right " href="/productList?cat_id={{category._id}}">Voir plus </a></h3>

        <div slickContainer #slickController="slick" [slickConfig]="config">
            <ng-container *ngIf="slickController.initialize">

                <div *ngFor="let product of category.products; let index = index">
                    <div class="slide" slickItem>
                        <div>
                            <div class="product-grid">
                                <div class="product-image">

                                   
                                    <ng-container *ngIf="product.vendor_type">
                                        <ng-container *ngIf="product.vendor_type.length > 0">
                                            <span *ngIf="product.vendor_type[0]== 'professional' || product.vendor_type[0]== 'Professionnel'" class="badge_bg_warning">Professionnel</span>
                                        </ng-container>
                                    </ng-container>
                                    

                                    <div *ngIf="product.images.length != 0;else other_content">
                                        <a routerLink="/view-product/{{product._id}}" target="">
                                            <img class="pic-1" src="{{baseurl}}static/public/{{product.images[0]}}">
                                        </a>
                                    </div>
                                    <ng-template #other_content>
                                        <img class="pic-1" src="./assets/build/img/nopro2.png">
                                    </ng-template>
                                </div>

                                <div class="product-content">
                                    <h3 class="title"><a>{{product.title}}</a></h3>
                                    <div class="ra-ting-spn" style="cursor: not-allowed !important;position: relative;
                                       z-index: 1;">
                                        <ngb-rating [max]=5 [(rate)]="product.avgRating"></ngb-rating>
                                        <span class="value" *ngIf="product.reviews">({{product.reviews.length}}) </span>
                                    </div>


                                    <div class="price">
                                        {{product.price}} CFA
                                        <a *ngIf="product.isFav == 0" class="float-right" (click)="addFavItem(product._id,index,i)">
                                            <i class="fa-regular fa-heart fa-i" style="color: #F8991B;"></i>
                                        </a> 
                                        <a *ngIf="product.isFav == 1" class="float-right" (click)="removeFavItem(product.favProduct[0]._id,index,i)">
                                            <i class="fa-solid fa-heart fa-i" style="color: #F8991B;"></i>
                                        </a>
                                    </div>
                                    <!-- <div class="fav-home">
                                         
                                          <a *ngIf="product.isFav == 0" (click)="addFavItem(product._id)">
                                             <i class="fa-regular fa-heart fa-i"></i>
                                          </a> 
                                          <a *ngIf="product.isFav == 1" (click)="removeFavItem(product.favProduct[0]._id)">
                                             <i class="fa-solid fa-heart fa-i"></i>
                                          </a> 
                                          
                                       </div> -->
                                </div>
 
                                <div class="alert_success" id="fav_id_{{index}}"  *ngIf="showBtn===index && showBtn2===i "  >
                                    <strong>  {{msGG}} </strong> 
                                </div>



                            </div>
                        </div>
                    </div>

                </div>


            </ng-container>

        </div>
    </div>

</div>