.page-content {
    background-color: #fff;
}

.account-box {
    border: 2px solid #eee;
    border-radius: 7px;
    margin: 10px 5px !important;
    box-shadow: 1px 3px 10px -6px #ccc;
    display: flex;
    gap: 14px;
    padding: 20px 15px;
}

h2.mob-h1 {
    font-size: 25px !important;
    font-weight: 500;
}

.pt-15 {
    margin-top: -20px;
    margin-bottom: -24px;
}

.fw-700 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

.account-box:hover {
    cursor: pointer;
    box-shadow: 1px 3px 19px -6px #ccc;
}

.account-img {
    background: #FFECB3;
    border-radius: 100%;
    padding: 10px;
    border: 1px solid #f89a14;
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    display: block;
}

@media(min-width:1200px) {
    .account-box {
        height: 130px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .account-box {
        height: 150px;
    }
}

@media(min-width:767px) and (max-width:992px) {
    .account-box {
        height: 130px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .account-box {
        height: 185px;
    }
}

@media(max-width:575px) {
    .account-box {
        height: auto;
    }
    .account-box {
        padding: 25px 15px;
        margin: 10px 0 !important;
    }
    .mob-h1 {
        margin-bottom: 5px !important;
    }
}

.account-box p {
    margin-bottom: 0 !important;
}