<app-navbar></app-navbar>
<div class="page-content pt-15 mb-3">
    <div class="container">
        <div class="">



            <div class="p-t-25 mob-pt-5">
                <h2 class="mob-h1">Votre Compte</h2>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a routerLink="/product_order" class="txt-dn">
                            <div class="account-box ">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/cart-o.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Commandes de produits O'Black</h6>
                                    <p class="para">Suivre, retourner ou acheter à nouveau</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a routerLink="/connection_security" class="txt-dn">
                            <div class="account-box">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/lock.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Connexion & sécurité</h6>
                                    <p class="para">Modifier l'adresse électronique, le nom, le mot de passe et le numéro de téléphone.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="account-box" routerLink="/event_cart">
                            <div class="" style="    width: 60px;
    display: contents;">
                                <img class="mw-100 account-img" src="./assets/build/img/account/blade.png" width="60">
                            </div>
                            <div class="">
                                <h6 class="">Événements O'Black</h6>
                                <p class="para">Billets, Panier, J'aime</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a routerLink="/my_address" class="txt-dn">
                            <div class="account-box">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/adress.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Adresse</h6>
                                    <p class="para">Modifier les adresses et les préférences de livraison des commandes</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="account-box" routerLink="/product_order">
                            <div class="" style="    width: 60px;
    display: contents;">
                                <img class="mw-100 account-img" src="./assets/build/img/account/card (1).png" width="60">
                            </div>
                            <div class="">
                                <h6 class="">Vos paiements</h6>
                                <p class="para">Afficher toutes les transactions, gérer les modes de paiement</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a routerLink="/promocode" class="txt-dn">
                            <div class="account-box">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/percent.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Codes promotionnels</h6>
                                    <p class="para">Vérifiez la disponibilité des codes promotionnels à utiliser lors du paiement des produits .</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a routerLink="/my_messeges">
                            <div class="account-box">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/msg.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Centre de messagerie</h6>
                                    <p class="para">Voir les messages des vendeurs de produits O'Black</p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="account-box" routerLink="/contact_us">
                            <div class="" style="    width: 60px;
    display: contents;">
                                <img class="mw-100 account-img" src="./assets/build/img/account/phone.png" width="60">
                            </div>
                            <div class="">
                                <h6 class="">Nous contacter</h6>
                                <p class="para">Contactez notre service clientèle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <a href="https://vendeur.oblackmarket.ci/" target="_blank">
                            <div class="account-box">
                                <div class="" style="    width: 60px;
    display: contents;">
                                    <img class="mw-100 account-img" src="./assets/build/img/account/cart-plus.png" width="60">
                                </div>
                                <div class="">
                                    <h6 class="">Vendre des produits sur O'Black</h6>
                                    <p class="para">Créez un compte commercial gratuit</p>
                                </div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div><br>
<app-footer></app-footer>